.muestraPrincipal{
    min-width: 100%;
    min-height: 92vh;
    background-color: var(--c5);
    background-image: url(../img/imagenAncha1.jpeg);
    background-size: 100% 120%;
    background-repeat: no-repeat;
    background-position: center;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    animation-name: cambioImagen;
}

@keyframes cambioImagen{
    /*0%{
        background-image: url(../img/dos.jpeg);
        background-size: 100% 160%;
    }*/


    20%{
        background-image: url(../img/imagenAncha2.jpeg);
        
    }





    40%{
        background-image: url(../img/imagenAncha3.jpeg);
        
        opacity: 100%;
    }

    60%{
        background-image: url(../img/imagenAncha4.jpeg);
        opacity: 100%;
    }

    80%{
        background-image: url(../img/imagenAncha5.jpeg);
    }

    95%{
        opacity: 70%;
    }
    

    

    99%{
        background-image: url(../img/imagenAncha5.jpeg);
        opacity: 0%;
        
    }
    
}


.__item__link{
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 150%;
}

.__item__link:hover{
    color:darksalmon;
}

#home{
    
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 150%;
    color:darksalmon;
}


#home:hover{
    color:yellow;
}